<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Class</title>
</head>
<body>
<h1>Delete class</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/classes">Class list</a>
</p>
<form th:action="@{/delete-class}" th:object="${classes}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${classes.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete province"></td>
        </tr>
    </table>
</form>
</body>
</html>