<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
</head>
<body>
<a href="/create-class">Create new class</a>
<h1>Class</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="class : ${classes}">
        <tr>
            <td th:text="${class.name}"></td>
            <td><a th:href="@{/edit-class/__${class.getId()}__ }">Edit</a></td>
            <td><a th:href="@{/delete-class/__${class.getId()}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>